/* RESPONSIVE DESIGN */

/* LAPTOP */
@media (max-width: 1366px){
    /* REUSABLE */
    .section-general {
        padding: 50px 0;
    }

    /* MARGIN BOTTOM  */
    .mb-medium {
        margin-bottom: 70px;
    }

    /* FLEXBOX */
    .numbers-container {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    /* TEXT */
    .title-xl {
        font-weight: 900;
        font-size: 55px;
        line-height: 95%;
        /* or 190px */
        text-align: center;
    }

    .title-md {
        font-weight: 900;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
    }

    .paragraph-md {
        font-weight: 500;
        font-size: 19px;
        line-height: 130%;
        text-align: center;
    }

    /* SECTION PRODUCTIVTY */  
    /* MARGIN BOTTOM */
    .section-productivity 
    .paragraph-md {
        margin-bottom: 60px;
    }

    /* WRAPPER */
    .section-productivity
    .wrap-title-text {
        max-width: 412px;
        min-height: 184px;
        width: 100%;
    }

    /* TEXT */
    .section-productivity 
    .title-md {
        margin-bottom: 20px;
    }

    /* SECTION COUNT ON US */
    /* MARGIN BUTTON */
    .section-count-on-us
    .responsive-mb-medium {
        margin-bottom: 50px;
    }

    .section-count-on-us
    .mb-medium {
        margin-bottom: 20px;
    }

    .section-count-on-us
    .mb-large {
        margin-bottom: 40px;
    }

    /* TEXT */
    .section-count-on-us 
    .title-xl {
        margin-bottom: 25px;
    }

    .section-count-on-us 
    .wrap-title-text 
    .title-xl {
        margin-bottom: 0px;
        font-size: 100px;
    }

    /* WRAPPER */
    .wrap-subtitle {
        max-width: 660px;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 60px;
    }

}

@media (max-width: 1024px) {
    /* PRODUCTIVITY */
    /* TEXT */
    .section-productivity
    .wrap-title-text {
        max-width: 310px;
        min-height: 122px;
        width: 100%;
    }

    .section-productivity
    .paragraph-sm {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
    }
    
    /* COUNT ON US */
    /* WRAPPER */
    .section-count-on-us
    .wrap-title-text {
        max-width: 195px;
        min-height: 184px;
        width: 100%;
    }

    .section-count-on-us
    .numbers-container {
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
    }
}

@media (max-width: 768px) {
    /* COUNT ON US */
    /* WRAPPER */
    .section-count-on-us
    .wrap-title-text {
        max-width: 350px;
        min-height: 184px;
        width: 100%;
    }

    /* FLEXBOX */
    .section-productivity    
    .description-container {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
}

@media (max-width: 767px) {
    .section-count-on-us .numbers-container {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
}



