/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
body {
    font-family: "TitlingGothicFB Comp", sans-serif;
    text-rendering: optimizeLegibility;
}

/* REUSABLE */
.row-title {
    margin: 0 auto;
}

.logo {
    position: absolute;
    width: 121px;
    height: 50px;
    z-index:1;
}

.back-img-cc {
    background-size: cover;
    background-position: center;
}


/* MARGIN BUTTON */
.mb-medium {
    margin-bottom: 30px;
}

.mb-large {
    margin-bottom: 90px;
}

/* WRAPPER */
.wrapper-general {
    max-width: 1630px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.wrap-subtitle {
    max-width: 1120px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 100px;
}

.wrap-title-text {
    max-width: 480px;
    min-height: 184px;
    width: 100%;
}

/* FLEXBOX */
.flex {
    display: flex;
}

.description-container {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.numbers-container {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.btn-container {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

/* TEXT */
.title-xl {
    font-weight: 900;
    font-size: 200px;
    line-height: 95%;
    /* or 190px */
    text-align: center;
}

.title-md {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

.paragraph-sm {
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
}

.paragraph-md {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    /* identical to box height, or 34px */
    text-align: center;
}

/* BUTTON */
.btn {
    display: block;
    border-radius: 5px;
    padding: 10px 29px;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    font-weight: 500;
    line-height: 130%;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-primary {
    border: 1px solid #1A468E;
}

.btn-secondary {
    border: 1px solid #DCDCDC;
}

.btn-dark {
    border: 1px solid #999999;
}

.btn-light {
    border: 1px solid #FFFFFF;
}

.btn-accent {
    border: 1px solid #3E7EE6;
}

/* COLOR PALETTE */
.primary {
    color: #1A468E;
}

.secondary {
    color: #DCDCDC;
}

.dark {
    color: #999999;
}

.light {
    color: #FFFFFF;
}

.accent {
    color: #3E7EE6;
}

/* INTRO */
/* MENU */

/* GENERAL */
.slider {
    display: flex;
}

.slide-photo {
    flex-shrink: 0;
    height: 800px;
}

/* SLIDER */
button.slick-prev.slick-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    border: 0;
    background-color: transparent;
    z-index: 1;
    margin-left: 40px;
    cursor: pointer;
}

button.slick-prev.slick-arrow:focus {
    outline: none;
}

button.slick-next.slick-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    border: 0;
    background-color: transparent;
    z-index: 1;
    margin-right: 40px;
    cursor: pointer;
}

button.slick-next.slick-arrow:focus {
    outline: none;
}

.slick-dots {
    display: flex;
    position: absolute;
    right: 0;
    top: 85%;
    list-style: none;
    border-radius: 100%;
    margin-right: 97px;
}

    .slick-dots li button {
        background: url(../img/dot.png) center center no-repeat;
        width: 40px;
        height: 40px;
        color: transparent;
        margin-right: 17px;
        cursor: pointer;
        border-radius: 100%;
        border: none;
    }

    .slick-dots li.slick-active button {
        border: 1px solid #FFFFFF;
    }

 
    .slick-dots li button:focus {
        outline: none;
    }

    .slick-dots li button:active {
        border-style: solid;
    }

/* MARGIN BUTTOM */
.header-intro
.title-xl {
    margin-bottom: 10px;
}

.header-intro
.paragraph-md {
margin-bottom: 88px;
}

/* PRODUCTIVITY */
/* GENERAL */
.section-productivity {
    padding: 155px 0;
}

/* TEXT */
.section-productivity .title-xl {
margin-bottom: 20px;
}

.section-productivity .title-md {
margin-bottom: 18px;
}

.section-productivity .paragraph-md {
margin-bottom: 121px;
}

/* COUNT ON US */
/* GENERAL */
.section-count-on-us {
background-color: #FFFFFF;
padding: 155px 0;
}

/* MARGIN BUTTON */
.section-count-on-us .mb-prova {
margin-bottom: 30px;
}

/* TEXT */
.section-count-on-us .title-xl {
margin-bottom: 35px;
}

.section-count-on-us .wrap-title-text .title-xl {
margin-bottom: 0px;
}